// sass --watch index.scss:index.css

/*--------------------------------------------------------------
  # Normalize
  --------------------------------------------------------------*/

  @mixin font($font-family, $font-file) {
    @font-face {
      font-family: $font-family;
      src: url($font-file+'.otf');
      font-weight: normal;
      font-style: normal;
    }
  }
  
  @include font('mg-r', '../fonts/monument-grotesk-regular');
  @include font('mg-semi-mono', '../fonts/monument-grotesk-semi-mono');
  
  $mobile-width: 375px;
  $tablet-width: 768px;
  $desktop-width: 1024px;

  @mixin mobile {
    @media (min-width: #{$mobile-width})and (max-width: #{$tablet-width - 1px}) {
      @content;
    }
  }

  @mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }


  $white: #fff;
  $grey: #828282;
  $black: #000;
  $p-m: .5rem;
  $p-l: 1rem;
  $container-width-l: 700px;

  $h1: 0.9rem;
  $h2: 0.9rem;
  $body: 0.9rem;
  $h3: .6rem;
  $h4: .45rem;

  :root {
    --content-width: 100vw;
    background-color:$black;
    color:$white;
    -webkit-font-smoothing: antialiased;
  }
  
  *,
  *:after,
  *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none;}
  i {
    display: inline-block;
    font-style: normal;
    -moz-transform:     scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
    -webkit-transform:  scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
    -o-transform:       scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
    -ms-transform:      scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
    transform:          scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
  }
  img { width: 100%;}
  iframe { border:0; }

  .pt-m {padding-top:$p-m;}
  .pb-m {padding-bottom:$p-m;}
  .pt-l {padding-top:$p-l;}
  .pb-l {padding-bottom:$p-l;}
  
  /*--------------------------------------------------------------
    # Typography
    --------------------------------------------------------------*/
  
    html {
      font-family:'mg-r', san-serif;
      font-size:1.9rem;
    }
    
    .mono { font-family:'mg-semi-mono', monospace; }
    code, kbd, pre, samp {
      font-family:'mg-semi-mono', monospace; 
      font-size: $h3;
    }
    
    a { color: currentColor; text-decoration: none; }
    
    strong, b { font-weight: 500;}
    
    h1 {
      font-family:'mg-semi-mono', monospace;
      font-size: $h1;
      font-weight: normal;
      line-height: 1.1;
      @include mobile { font-size: $body;}
      @include tablet { font-size: $body;}
    }

  
    h3 {
      font-family:'mg-semi-mono', monospace;
      font-size: $h3;
      font-weight: normal;
      span.name {
        display: inline-block;
        font-size: 0.9em;
      }
    }
    
    h4, figcaption {
      font-size: $h4;
      font-weight:normal;
    }
    //names to not break
    h4 {
      span.name {
        display: inline-block;
        font-size: 0.9em;
      }
    }

    .license {
      position:absolute;
      bottom: 1em;
      font-size: $h4;
      font-weight:normal;
    }

    .list-title {
      font-family:'mg-semi-mono', monospace;
      display:block;
      // color:$grey;
      text-transform: uppercase;
      font-size: $h4;
      padding: $p-l*2 0 $p-m 0;
      letter-spacing: 0.03em;
    }
    
    .list li{
      font-family:'mg-semi-mono', monospace;
      padding:.5rem 0;
      border-top:none;
      border-bottom: solid 1px #444;
      font-size:.8rem;
      &.active {
        color:#5a5a5a
      }
    }
    
    .list li:first-child {
      border-top: solid 1px #444;
    }
    .list span {
      display:inline-block;
    }
    .indent {
      text-indent: $p-m;
    }
  
  /*--------------------------------------------------------------
    # Structure
    --------------------------------------------------------------*/
    .wrapper {
      position: relative;
      margin: 0 auto;
      max-width: $container-width-l;
    }

    footer .wrapper {
      padding-left: 0.5rem;
    }

    /* header */

    .header {
      position:relative;
      top:0;
      left:0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 160px;
      background-color:black;
      z-index:100;
      padding: 0.5rem;
      box-sizing: border-box;
      transition: all 0.2s ease;
      margin: 0 auto;
      left: 50%;
      margin-left: -350px;
      width: $container-width-l;
      max-width: $container-width-l;
      @include mobile { height:250px; width:100%; margin-left:0; left:0; }
      // @include tablet { height:500px;}

    }

    main {
      position:relative;
    }

    #view {
      position: fixed;
      left:0;
      top:0;
      width:100%;
      height: 33vh;
      transform: translateY(-33vh);
      /*background-color:#F2F2F2;*/
      transition: all 0.2s ease;
      z-index: 10000;

      @include desktop {
          display:none;
          max-width: 300px;
          right: .5rem;
          top: .5rem;
          left: auto;
          width:200px;
          height: 150px;
          transform: translateY(0);
      }
    }

    .intro {
      padding: $p-m 0;
      min-height:500px;
      display: flex;
    }


    /*header-logo*/
    svg:not(:root)  { width:100%;}
    svg[class^=logo] { width:100%;  height:auto;}
    path.fill { fill:$white; }

    svg#icon-camera {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 32%;
      transform: translate(-50%, -50%);
    }
    
    .button {
      border: solid 1px $white;
    }

    [id^=logo] { 
        float: left;
        margin-right:0.5rem;
      }

    #header-logo {
      transform:scale(.8); /*1*/ 
      transform-origin: left top;   
      transition: all 0.2s ease;
    }
    #logo-1 { 
      width: 230px;
      float:none;
      @include mobile { width: 230px; float: none;}
      @include tablet { width: 230px; float:none;}

    }
    #logo-2 { 
      width: 380px;
      @include mobile { width:calc( $mobile-width - 1rem);}
      @include tablet { width:calc( $tablet-width - 1rem);}
    } 


    /*header-buttons*/
    #btn-camera {
      display:none;
      position: absolute;
      right: $p-m;
      top: $p-m;
      border-radius: 30px;
      width: 70px;
      height: 60px;
      z-index: 1000000;
      @include mobile { display:block;}
      @include tablet { display:block; }
      @include desktop { display: none; }
    } 

    .scroll #btn-camera {
      display:none;
    }

    [id^=btn-] {
      cursor: pointer;
    }
      #btn-close{
      position: absolute;
      top: $p-m;
      right: $p-m;
      @include desktop {
          top:.5rem;
          bottom: auto;
          transform:scale(.5); 
          transform-origin: top right;
        }
      }



      /* header-buttons: on camera */
      .slide #btn-camera {
      display:none;
      }

      body.slide{
      transform: translateY(33vh);
      transition: all 0.2s ease;
      @include desktop { transform: translateY(0); }
      }

      $header-height:110px;

    /* header: on scroll*/
    .scroll .header, #scroll-fix .header{ 
      height:$header-height; 
      position: fixed;
      margin: 0 auto;
      left: 50%;
      margin-left: -350px;
      width: $container-width-l;
      max-width: $container-width-l;
      @include mobile { height:90px; width:100%; margin-left:0; left:0; }
      // @include tablet { height:90px; width:100%; margin-left:0;left:0; }
    }

    .border-box {
      height:1px; 
      width: calc(100% - 1rem); 
      background-color: black; 
      position: absolute; 
      top: $header-height; 
      @include mobile { top:90px; }
      // @include tablet { top:90px; }
    }


    #scroll-fix.no-scroll .header {
      position:relative;
    }

    
    .scroll .header, #scroll-fix.scroll .header {
      position:fixed;
      // @include mobile { position: fixed; }
      // @include tablet { transform: fixed; }
    }

 

    .scroll #header-logo, #scroll-fix #header-logo { 
      transform: scale(.3); 
      @include mobile { transform: scale(.25); }
      @include tablet { transform: scale(.25); }
    }
    .scroll #header-camera, #scroll-fix #header-camera  { position: absolute; }

    .slide #view {
      @include desktop { display:none;}
    }


    /* page */
    .page {
      position: relative;
      padding: $p-m;
    }
    .page > * {
      max-width: var(--content-width);
      margin: 0 auto;
    }

    /*column layout*/
    .col-2 {
      position: relative;
      padding:0 $p-m;
      text-align: left;
      z-index:10;
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
      float: left;  
      @include mobile { flex: 0 0 100%; max-width: 100%; }
      @include tablet {  flex: 0 0 100%; max-width: 100%; }   

    }

    .col-2:nth-child(even) {
      padding-right:0;
      @include mobile { padding:0; }
      @include tablet { padding:0;}
    }
    .col-2:nth-child(odd) {
      padding-left:0;
      @include mobile { padding:0; }
      @include tablet { padding:0;}
    }
    .credit.col-2 {
      padding: $p-l 0;
    }
    .credit {
      p {
        margin-right: 1em;
        margin-bottom: 1em;
        &.names {
          opacity: 0.5;
        }
      }
    }
    .intro .col-2 {
      @include mobile { flex: 0 0 50%; max-width: 50%; }
      @include tablet {  flex: 0 0 50%; max-width: 50%; }  
      
    }

    .header-credit {
      display: block;
      position: absolute;
      top: 1.5rem;
      left: 50%;
      @include mobile { display:none; }
      @include tablet { display:none; }
    }
  
  .tags {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    font-size: .75rem;
    font-weight: 600;
  }
  
  .text {
    line-height: 1.2;
    font-size:.8rem;
    margin: 1rem 0 0.25rem 0;
    padding-bottom: 3rem;
    min-height: 40vh;
  }


  .text p,
  .text figure,
  .text ul,
  .text ol {
    margin-bottom: 1.5em;
  }
  .text h2 {
    font-size: $h2;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .text > *:first-child {
    margin-top: 0;
  }
  .text a {
    position: relative;
    white-space: nowrap;
    font-weight: 500;
    z-index: 1;
    display: inline-block;
    border-bottom: 2px solid #000;
  }
  .text figure {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .text img {
    width: 100%;
  }

  figcaption {
    @include mobile { display:inline-block;}
    @include tablet { display:inline-block;}
    padding: 0.5rem 0 0.5rem 0;
    display:flex;

  }

 .text figcaption p {
   margin-bottom: .3rem;
  }


  /*media*/

  video {
    width: 100%;
    &.video-embed {
      width: 100% !important;
      height: auto !important;
      position: relative;
      transform: scale(1,1) translateY(0);
      filter: none;
      &:focus{
        outline: none;
      }
    }
  }
  video#player {
    position:relative;
  }
  video.video-embed {
    position:relative;
    width: 100% !important;
    height: auto !important;
    transform: scale(1,1) translateY(0) !important;
  }
  audio {
    width: 100%;
  }
  figure {
    padding-top: $p-l;
  }
  audio {
    width:100%;
    &:focus{
      outline: none;
    }
  }
  
    // /* TBD: floating images*/
    // #gallery {
    //   height:80vw;
    // }
    // #gallery div {
    //   min-width:100px;
    //   min-height:100px;
    //   max-width:30vw;
    //   background-color:#f2f2f2;
    //   margin:2rem;
    //   border: solid 1px red;
    //   transform: translateX(100%);
    //   animation-name: images-ticker;
    //   animation-duration: 10s;
    //   animation-timing-function: linear;
    //   animation-iteration-count: infinite;
    // }

    
    // @keyframes images-ticker {
    //   0% {
    //     right: 0;
    //     transform: translateX(100%);
    //   }
    //   100% {
    //     right: 100%;
    //     transform: translateX(0);
    //   }
    // }


  /* footer */
  
  footer {
    // padding: $p-m 0 $p-m $p-m;
    max-width: var(--content-width);
    background-color: black;
    color:white;
    position: relative;
  }
  
  footer .credit {
    padding: $p-l $p-l $p-l 0;
    font-size: $h4;
    text-align:left;
    margin: 0 auto;
    line-height: 1.2em;
    flex: 0 0 50%;
    max-width: 50%;
    @include mobile { flex: 0 0 100%; max-width: 100%; }
    @include tablet { flex: 0 0 50%; max-width: 50%; }
    @include desktop { flex: 0 0 50%; max-width: 50%; }
 

  }




/* bubbles */

#bubbles{
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

#bubbles.inactive{
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.particule {
  position: absolute;
  font-family: "mg-r";
  font-size: 0.6rem !important;
  object-fit: cover;
  pointer-events: none;
  top: 50%;
  left: 50%;
  max-width: 200px;
  max-height: 200px;
  margin: -100px 0 0 -100px;
  border: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transform: scale(0);
}

img.particule{
  box-shadow: 5px 20px 40px rgba(0,0,0,0.7);
  border-radius: 500px;
}

div.particule{
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  border-radius: 0 !important;
}

