/*--------------------------------------------------------------
  # Normalize
  --------------------------------------------------------------*/
@font-face {
  font-family: "mg-r";
  src: url("../fonts/monument-grotesk-regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mg-semi-mono";
  src: url("../fonts/monument-grotesk-semi-mono.otf");
  font-weight: normal;
  font-style: normal;
}
:root {
  --content-width: 100vw;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

i {
  display: inline-block;
  font-style: normal;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-9.5deg, 0deg);
}

img {
  width: 100%;
}

iframe {
  border: 0;
}

.pt-m {
  padding-top: 0.5rem;
}

.pb-m {
  padding-bottom: 0.5rem;
}

.pt-l {
  padding-top: 1rem;
}

.pb-l {
  padding-bottom: 1rem;
}

/*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/
html {
  font-family: "mg-r", san-serif;
  font-size: 1.9rem;
}

.mono {
  font-family: "mg-semi-mono", monospace;
}

code, kbd, pre, samp {
  font-family: "mg-semi-mono", monospace;
  font-size: 0.6rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

strong, b {
  font-weight: 500;
}

h1 {
  font-family: "mg-semi-mono", monospace;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.1;
}
@media (min-width: 375px) and (max-width: 767px) {
  h1 {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 0.9rem;
  }
}

.header h3 {
  margin: 96px 0 0 50%;
  width: 50%;
  position: absolute;
}
@media (min-width: 375px) and (max-width: 767px) {
  .header h3 {
    display: none;
  }
}

.scroll .header h3 {
  display: none;
}

h3 {
  font-family: "mg-semi-mono", monospace;
  font-size: 16px;
  font-weight: normal;
}
h3 span.name {
  display: inline-block;
  font-size: 16px;
}

h4, figcaption {
  font-size: 0.45rem;
  font-weight: normal;
}

h4 span.name {
  display: inline-block;
  font-size: 0.9em;
}

.license {
  position: absolute;
  bottom: 1em;
  font-size: 0.45rem;
  font-weight: normal;
}

.list-title {
  font-family: "mg-semi-mono", monospace;
  display: block;
  text-transform: uppercase;
  font-size: 0.45rem;
  padding: 2rem 0 0.5rem 0;
  letter-spacing: 0.03em;
}

.list li {
  font-family: "mg-semi-mono", monospace;
  padding: 0.5rem 0;
  border-top: none;
  border-bottom: solid 1px #444;
  font-size: 0.8rem;
}
.list li.active {
  color: #5a5a5a;
}

.list li:first-child {
  border-top: solid 1px #444;
}

.list span {
  display: inline-block;
}

.indent {
  text-indent: 0.5rem;
}

/*--------------------------------------------------------------
  # Structure
  --------------------------------------------------------------*/
.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
}

footer .wrapper {
  padding-left: 0.5rem;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 160px;
  background-color: black;
  z-index: 100;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: all 0.2s ease;
  margin: 0 auto;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  max-width: 700px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .header {
    height: 250px;
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

main {
  position: relative;
}

#view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 33vh;
  transform: translateY(-33vh);
  /*background-color:#F2F2F2;*/
  transition: all 0.2s ease;
  z-index: 10000;
}
@media (min-width: 1024px) {
  #view {
    display: none;
    max-width: 300px;
    right: 0.5rem;
    top: 0.5rem;
    left: auto;
    width: 200px;
    height: 150px;
    transform: translateY(0);
  }
}

.intro {
  padding: 0.5rem 0;
  min-height: 600px;
  display: flex;
}
@media (min-width: 1024px) {
  .intro {
    min-height: 600px;
  }
}

/*header-logo*/
svg:not(:root) {
  width: 100%;
}

svg[class^=logo] {
  width: 100%;
  height: auto;
}

path.fill {
  fill: #fff;
}

svg#icon-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32%;
  transform: translate(-50%, -50%);
}

.button {
  border: solid 1px #fff;
}

[id^=logo] {
  float: left;
  margin-right: 0.5rem;
}

#header-logo {
  transform: scale(0.8);
  /*1*/
  transform-origin: left top;
  transition: all 0.2s ease;
}

#logo-1 {
  width: 230px;
  float: none;
}
@media (min-width: 375px) and (max-width: 767px) {
  #logo-1 {
    width: 230px;
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #logo-1 {
    width: 230px;
    float: none;
  }
}

#logo-2 {
  width: 380px;
}
@media (min-width: 375px) and (max-width: 767px) {
  #logo-2 {
    width: calc( $mobile-width - 1rem);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #logo-2 {
    width: calc( $tablet-width - 1rem);
  }
}

/*header-buttons*/
#btn-camera {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border-radius: 30px;
  width: 70px;
  height: 60px;
  z-index: 1000000;
}
@media (min-width: 375px) and (max-width: 767px) {
  #btn-camera {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #btn-camera {
    display: block;
  }
}
@media (min-width: 1024px) {
  #btn-camera {
    display: none;
  }
}

.scroll #btn-camera {
  display: none;
}

[id^=btn-] {
  cursor: pointer;
}

#btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
@media (min-width: 1024px) {
  #btn-close {
    top: 0.5rem;
    bottom: auto;
    transform: scale(0.5);
    transform-origin: top right;
  }
}

/* header-buttons: on camera */
.slide #btn-camera {
  display: none;
}

body.slide {
  transform: translateY(33vh);
  transition: all 0.2s ease;
}
@media (min-width: 1024px) {
  body.slide {
    transform: translateY(0);
  }
}

/* header: on scroll*/
.scroll .header, #scroll-fix .header {
  height: 110px;
  /*position: fixed;*/
  margin: 0 auto;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  max-width: 700px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .scroll .header, #scroll-fix .header {
    height: 90px;
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

.border-box {
  height: 1px;
  width: calc(100% - 1rem);
  background-color: black;
  position: absolute;
  top: 110px;
}
@media (min-width: 375px) and (max-width: 767px) {
  .border-box {
    top: 90px;
  }
}

#scroll-fix.no-scroll .header {
  position: absolute;
}

.scroll .header, #scroll-fix.scroll .header {
  position: fixed;
}

.scroll #header-logo, #scroll-fix #header-logo {
  transform: scale(0.3);
}
@media (min-width: 375px) and (max-width: 767px) {
  .scroll #header-logo, #scroll-fix #header-logo {
    transform: scale(0.25);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .scroll #header-logo, #scroll-fix #header-logo {
    transform: scale(0.25);
  }
}

.scroll #header-camera, #scroll-fix #header-camera {
  position: absolute;
}

@media (min-width: 1024px) {
  .slide #view {
    display: none;
  }
}

/* page */
.page {
  position: relative;
  padding: 0.5rem;
}

.page > * {
  max-width: var(--content-width);
  margin: 0 auto;
}

/*column layout*/
.col-1 {
  font-size: 0.6rem !important;
}
.col-1 p {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.col-2 {
  position: relative;
  padding: 0 0.5rem;
  text-align: left;
  z-index: 10;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  float: left;
}
@media (min-width: 375px) and (max-width: 767px) {
  .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-2:nth-child(even) {
  padding-right: 0;
}
@media (min-width: 375px) and (max-width: 767px) {
  .col-2:nth-child(even) {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .col-2:nth-child(even) {
    padding: 0;
  }
}

.col-2:nth-child(odd) {
  padding-left: 0;
}
@media (min-width: 375px) and (max-width: 767px) {
  .col-2:nth-child(odd) {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .col-2:nth-child(odd) {
    padding: 0;
  }
}

.credit.col-2 {
  padding: 1rem 0;
}

.credit p {
  margin-right: 1em;
  margin-bottom: 1em;
}
.credit p.names {
  opacity: 0.5;
}

@media (min-width: 375px) and (max-width: 767px) {
  .intro .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .intro .col-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.header-credit {
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 50%;
}
@media (min-width: 375px) and (max-width: 767px) {
  .header-credit {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-credit {
    display: none;
  }
}

.tags {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 0.75rem;
  font-weight: 600;
}

.text {
  line-height: 1.2;
  font-size: 0.8rem;
  margin: 1rem 0 0.25rem 0;
  padding-bottom: 3rem;
  min-height: 40vh;
}

.text p,
.text figure,
.text ul,
.text ol {
  margin-bottom: 1.5em;
}

.text h2 {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.text > *:first-child {
  margin-top: 0;
}

.text a {
  position: relative;
  white-space: nowrap;
  font-weight: 500;
  z-index: 1;
  display: inline-block;
  border-bottom: 2px solid #000;
}

.text figure {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.text img {
  width: 100%;
}

figcaption {
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
}
@media (min-width: 375px) and (max-width: 767px) {
  figcaption {
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  figcaption {
    display: inline-block;
  }
}

.text figcaption p {
  margin-bottom: 0.3rem;
}

article {
  margin-top: 128px;
}

.quotes {
  font-size: 24px;
  line-height: 28px;
  text-indent: -0.3em;
}
.quotes .byline {
  text-indent: 0em;
  font-size: 16px;
}

/*media*/
video {
  width: 100%;
}
video.video-embed {
  width: 100% !important;
  height: auto !important;
  position: relative;
  transform: scale(1, 1) translateY(0);
  filter: none;
}
video.video-embed:focus {
  outline: none;
}

video#player {
  position: relative;
}

video.video-embed {
  position: relative;
  width: 100% !important;
  height: auto !important;
  transform: scale(1, 1) translateY(0) !important;
}

audio {
  width: 100%;
}

figure {
  padding-top: 1rem;
}

audio {
  width: 100%;
}
audio:focus {
  outline: none;
}

/* footer */
footer {
  max-width: var(--content-width);
  background-color: black;
  color: white;
  position: relative;
}

footer .credit {
  padding: 1rem 1rem 1rem 0;
  font-size: 0.45rem;
  text-align: left;
  margin: 0 auto;
  line-height: 1.2em;
  flex: 0 0 50%;
  max-width: 50%;
}
@media (min-width: 375px) and (max-width: 767px) {
  footer .credit {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer .credit {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  footer .credit {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* bubbles */
#bubbles {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

#bubbles.inactive {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.particule {
  position: absolute;
  font-family: "mg-semi-mono", monospace;
  font-size: 0.6rem !important;
  object-fit: cover;
  pointer-events: none;
  top: 50%;
  left: 50%;
  max-width: 200px;
  max-height: 200px;
  margin: -100px 0 0 -100px;
  border: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transform: scale(0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  border-radius: 0 !important;
}

@media (max-width: 768px) {
  .particule {
    max-width: 150px;
    max-height: 150px;
    margin: -75px 0 0 -75px;
  }
}
.particule .part_img {
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  overflow: hidden;
  box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.7);
  object-position: center center;
  object-fit: cover;
}

.particule img {
  object-position: center center;
  object-fit: cover;
  width: 100%;
  height: 200px;
  max-height: 200px;
  overflow: hidden;
  box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.7);
}

.particule span {
  font-size: 0.5rem !important;
}

/*# sourceMappingURL=index.css.map */
